.App {
  text-align: center;
}
body {
  background-image: url('/Users/mymac/PrimeFolder/AllTier1Projects/TIER2/week10/group-fs-react-shopping-list/weekend-react-gallery/public/images/treesBG.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.App-header {
  background-color: #222;
  padding: 2em;
  color: white;
  margin-bottom: 1em;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  z-index:1;
}
.App-title {
  font-size: 1.5em;
  text-shadow: 0px 0px 2px #a1931e;
  color: #c4eddb;
    font-size: 28px;
}
img {
  width:150px;
  height:150px;
  /* position: absolute; */
    left: 25%;
    bottom: 41%;
    outline:1px solid black;
    outline-offset: 20px;
    cursor:pointer;

    border: 1px solid black;
    border-radius: 25%;


}
.imageContainer {
  display:flex;
  width: 300px;
  justify-content: space-around;
  flex-direction: column;
  position:relative;
  border:1px solid black;
  border-radius: 25%;

  height: 350px;
  margin-left: 140px;
  margin-bottom:20px;
  float:left;
  background-color: rgb(255 227 162 / 70%);
}
main {
  margin-top: 170px;
}
.likes {
  position: absolute;
    bottom: 0;
    left: 46%;
}
.loves {
position: absolute;
bottom: 31px;
left: 85px;
text-shadow:0px 0px 15px white, 1px 0px 15px white, 0px 1px 15px white, -1px 0px 15px white, 0px -1px 15px white;
}
button {
  cursor:pointer;
  background-color: black;
  border:1px solid black;
  border-radius: 5px;
}
button:hover {
  outline: 1px solid black;
}
button:active {
  outline: none;
}
